* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
}

body {
    background-color: #eee;
}
header {
    background-color: #ddd;
    padding: 5px;
}
header h1 {
    text-align: center;
    font-size: 2.5rem;
    padding: 5px;
}
header h2 {
    text-align: center;
    font-size: 2rem;
    padding: 5px;
}

nav.navbar {
    background-color: #aaa;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
.navbar a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    background-color: #444;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px black;
}
.navbar a:hover {
    transition: 200ms;
    color: coral;
    box-shadow: 3px 3px 8px black;
}