@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$background: #383961;
$primary: #92dee4;
$secondary: #ce7cb5;
$tertiary: #103b5c; 
$dark: #14080e;
$light: #eee;

$heading: 4rem;
$subheading: 3rem;
$anchor: 2rem;
$paragraph: 1.8rem;
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans", sans-serif;
    background: $background;
    background: linear-gradient(154deg, $background -10%, $dark 100%);
    header {
        position: relative;
        background: $tertiary;
        background: linear-gradient(310deg, $background 0%, $secondary 100%);
        border-bottom: 2px solid $dark;
        border-radius: 0 0 0 450px / 0 0 0 100px;
        nav.navbar {
            position: absolute;
            z-index: 2;
            top: 0; right: 0;
            background: $tertiary;
            background: linear-gradient(334deg, $background 0%, $tertiary 100%);
            display: flex;
            justify-content: space-around;
            border-radius: 0 0 0 50px / 0 0 0 40px;
            padding: 10px 10px 10px 20px;
            gap: 5px;
            border-bottom: 2px solid $primary;
            border-left: 1px solid $primary;
            a {
                border: 1px solid $primary;
                font-size: $anchor;
                padding: 5px;
                border-radius: 3px 15px 3px 15px / 3px 10px 3px 10px;
                text-decoration: none;
                color: $primary;
                &:hover {
                    border: 1px solid $light;
                    color: $light;
                    background-color: $background;
                    transition: 250ms;
                }
                &:focus {
                    color: $light;
                    background-color: $background;
                }
            }
        }
        section.hero {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            gap: 20px;
            padding: 10px;
            h1 {
                font-size: $heading;
                background: linear-gradient(334deg, $background 0%, $secondary 100%);
                border: 2px solid $primary;
                border-radius: 30px 140px 30px 140px / 30px 80px 30px 80px;
                padding: 30px;
                font-weight: 900;
                margin: 30px 0;
                box-shadow: 4px 4px 8px $dark;
            }
            img {
                width: 400px; aspect-ratio: 1;
                margin: 0 0 10px 0;
                border: 2px solid $primary;
                border-radius: 30px 140px 30px 140px / 30px 80px 30px 80px;
                box-shadow: 4px 4px 8px $dark;
            }
        }
    }
    main {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        margin: 20px 0 0 0;
        row-gap: 40px;
        article.g1 {
            grid-column: span 4;
            order: 1;
            padding: 40px;
            p {
                font-size: $paragraph;
                padding: 30px;
                background: linear-gradient(334deg, $background 0%, $secondary 100%);
                box-shadow: 4px 4px 8px $dark;
                border: 2px solid $primary;
                border-radius: 30px 70px 30px 70px / 30px 40px 30px 40px;
            }
        }
        article.g2 {
            order: 2;
            grid-column: span 3;
            align-content: center;
            h1 {
                font-size: $heading;
                text-shadow: 1px 1px 0 $primary;
                color: $secondary;
            }
        }
        article.g3 {
            order: 3;
            grid-column: span 2;
            align-content: center;
            h1 {
                font-size: $heading;
                text-align: right;
                color: $secondary;
                text-shadow: 1px 1px 0 $primary;
            }
        }
        article.g4 {
            order: 4;
            grid-column: span 5;
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 40px;
            gap: 3vw;
            section {
                background: linear-gradient(334deg, $background 0%, $secondary 150%);
                box-shadow: 4px 4px 8px $dark;
                border: 2px solid $primary;
                border-radius: 30px 70px 30px 70px / 30px 40px 30px 40px;
                padding: 20px;
                h2 {
                    font-size: $subheading;
                }
                p {
                    font-size: $paragraph;
                }
            }
        }
        article.g5 {
            order: 5;
            grid-column: span 5;
            padding: 40px;
            form {
                gap: 10px;
                display: flex;
                flex-direction: column;
                input#txt1 {
                    background-color: $light;
                    width: 300px; max-width: 100%;
                    font-size: $paragraph;
                    padding: 8px;
                    border: 1px solid $primary;
                    border-radius: 20px 40px 20px 40px / 20px 60px 20px 60px;
                }
                label {
                    background: linear-gradient(334deg, $background 0%, $secondary 170%);
                    box-shadow: 4px 4px 8px $dark;
                    border: 2px solid $primary;
                    border-radius: 30px 10px 30px 10px / 20px 10px 20px 10px;
                    padding: 6px;
                    font-size: $paragraph;
                    width: 30rem;
                }
                label:nth-of-type(2) {
                    margin: 0 0 0 16px;
                }
                label:nth-of-type(3) {
                    margin: 0 0 0 32px;
                }
                input[type="email"] {
                    width: 300px;
                    background-color: $light;
                    font-size: $paragraph;
                    padding: 8px;
                    margin: 0 0 0 16px;
                    border: 1px solid $primary;
                    border-radius: 20px 40px 20px 40px / 20px 60px 20px 60px;
                }
                textarea#txt2 {
                    max-width: 700px; height: 100px;
                    font-size: $paragraph;
                    background-color: $light;
                    padding: 8px 20px;
                    margin: 0 0 0 32px;
                    border: 1px solid $primary;
                    border-radius: 20px 40px 20px 40px / 20px 60px 20px 60px;
                }
                input[type="submit"] {
                    border: 1px solid $primary;
                    width: 200px;
                    background-color: $tertiary;
                    font-size: $anchor;
                    margin: 0 0 0 64px;
                    padding: 5px;
                    border-radius: 3px 15px 3px 15px / 3px 10px 3px 10px;
                    text-decoration: none;
                    color: $primary;
                    &:hover {
                        border: 1px solid $light;
                        color: $light;
                        background-color: $background;
                        transition: 250ms;
                    }
                    &:focus {
                        color: $light;
                        background-color: $background;
                    }
                }
            }
        }
        article.g6 {
            order: 6;
            grid-column: span 2;
            align-content: center;
            h1 {
                font-size: $heading;
                text-shadow: 1px 1px 0 $primary;
                color: $secondary;
            }
            p {
                font-size: $paragraph;
                color: $secondary;
                padding: 0 0 0 20px;
            }
        }
    }
    footer {
        background: linear-gradient(334deg, $background 0%, $secondary 240%);
        border-top: 2px solid $dark;
        border-radius: 30px 60px 0 0 / 30px 80px 0 0;
        padding: 10px 40px;
        font-size: $paragraph;
        display: flex;
        justify-content: space-between;
        nav {
            display: flex;
            justify-content: space-evenly;
            gap: 5px;
            a {
                svg {
                    width: 30px; height: 30px;
                }
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    body {
        header {
            section.hero {
                align-items: end;
                img {
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
}
@media screen and (max-width: 700px) {
    body {
        main {
            row-gap: 0;
            article.g1 {
                grid-column: span 7;
                order: 2;
            }
            article.g2 {
                order: 1;
                grid-column: span 7;
                h1 {
                    text-align: center;
                }
            }
            article.g3 {
                grid-column: span 7;
                h1 {
                    text-align: center;
                }
            }
            article.g4 {
                grid-column: span 7;
                grid-template-columns: 1fr;
                section {
                    padding: 40px;
                }
            }
            article.g5 {
                order: 6;
                grid-column: span 7;
            }
            article.g6 {
                order: 5;
                grid-column: span 7;
                h1 {
                    text-align: center;
                }
                p {
                    text-align: center;
                }
            }
        }
    }
}
@media screen and (max-width: 500px) {
    body {
        header {
            section.hero {
                padding: 50px 0 20px 0;
            }
        }
        main {
            padding: 0;
        }
        footer {
            flex-direction: column;
            align-items: center;
            gap: 8px;
        }
    }
}