@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: #444;
  background: linear-gradient(154deg, #444 -40%, #111 100%);
}
body header {
  position: relative;
  background: #111;
  background: linear-gradient(310deg, #111 0%, #ff7f50 100%);
  border-bottom: 2px solid #111;
  border-radius: 0 0 0 450px/0 0 0 100px;
}
body header nav.navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background: #111;
  display: flex;
  max-width: 400px;
  justify-content: space-around;
  border-radius: 0 0 0 30px;
  padding: 10px 10px 10px 20px;
  gap: 5px;
  border-bottom: 2px solid #ff7f50;
  border-left: 1px solid #ff7f50;
  transition: 150ms ease;
}
body header nav.navbar a {
  border: 1px solid #ff7f50;
  font-size: 2rem;
  padding: 4px 8px;
  border-radius: 15px;
  text-decoration: none;
  color: #ff7f50;
}
body header nav.navbar a:hover {
  border: 1px solid #eee;
  color: #eee;
  background-color: #444;
  margin: -2px 0 0 0;
  transition: 250ms;
}
body header nav.navbar a:focus {
  color: #eee;
  background-color: #444;
}
body header button.mobileMenu {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 3rem;
  background-color: #111;
  color: #ff7f50;
  padding: 2px 10px 4px 10px;
  border: 2px solid #ff7f50;
  border-radius: 30px;
  rotate: 90deg;
  transition: 250ms ease;
}
body header button.closed {
  rotate: 0deg;
}
body header section.hero {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
body header section.hero article {
  text-align: center;
  padding: 0 0 0 30px;
}
body header section.hero article h1 {
  font-size: 4rem;
}
body header section.hero article h2 {
  font-size: 3rem;
}
body header section.hero img {
  width: 400px;
  aspect-ratio: 1;
  margin: 0 0 10px 0;
  border: 2px solid #111;
  border-radius: 30px;
  box-shadow: 4px 4px 8px #111;
}
body main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 20px 0 0 0;
  row-gap: 40px;
}
body main article.g1 {
  grid-column: span 4;
  order: 1;
  padding: 40px;
}
body main article.g1 p {
  font-size: 1.8rem;
  padding: 30px;
  background-color: #ddd;
  box-shadow: 4px 4px 8px #111;
  border: 2px solid #111;
  border-radius: 30px;
}
body main article.g2 {
  order: 2;
  grid-column: span 3;
  align-content: center;
}
body main article.g2 h1 {
  font-size: 4rem;
  text-shadow: 2px 1px 4px #ff7f50;
  color: #ddd;
}
body main article.g3 {
  order: 3;
  grid-column: span 2;
  align-content: center;
}
body main article.g3 h1 {
  font-size: 4rem;
  text-align: right;
  color: #ddd;
  text-shadow: 2px 1px 4px #ff7f50;
}
body main article.g4 {
  order: 4;
  grid-column: span 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  gap: 3vw;
}
body main article.g4 section {
  background-color: #ddd;
  box-shadow: 4px 4px 8px #111;
  border: 2px solid #111;
  border-radius: 30px;
  padding: 20px;
}
body main article.g4 section h2 {
  font-size: 3rem;
}
body main article.g4 section p {
  font-size: 1.8rem;
}
body main article.g5 {
  order: 5;
  grid-column: span 7;
}
body main article.g5 h1 {
  font-size: 4rem;
  text-shadow: 2px 1px 4px #ff7f50;
  color: #ddd;
  text-align: center;
}
body main article.g6 {
  order: 6;
  grid-column: span 7;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
body main article.g6 a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 4px 4px 8px #111;
  border: 2px solid #111;
  border-radius: 30px;
  text-decoration: none;
  color: #111;
  background-color: #ddd;
}
body main article.g6 a h2 {
  text-align: center;
  padding: 20px;
  font-size: 3rem;
}
body main article.g6 a img {
  max-width: 100%;
}
body main article.g7 {
  order: 7;
  grid-column: span 5;
  padding: 40px;
}
body main article.g7 form {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
body main article.g7 form input#txt1 {
  background-color: #eee;
  width: 300px;
  max-width: 100%;
  font-size: 1.8rem;
  padding: 8px;
  border: 1px solid #111;
  border-radius: 20px 40px 20px 40px/20px 60px 20px 60px;
}
body main article.g7 form label {
  background: #ddd;
  box-shadow: 4px 4px 8px #111;
  border: 2px solid #111;
  border-radius: 30px 10px 30px 10px/20px 10px 20px 10px;
  padding: 6px;
  font-size: 1.8rem;
  width: 30rem;
}
body main article.g7 form label:nth-of-type(2) {
  margin: 0 0 0 16px;
}
body main article.g7 form label:nth-of-type(3) {
  margin: 0 0 0 32px;
}
body main article.g7 form input[type=email] {
  width: 300px;
  background-color: #eee;
  font-size: 1.8rem;
  padding: 8px;
  margin: 0 0 0 16px;
  border: 1px solid #ddd;
  border-radius: 20px 40px 20px 40px/20px 60px 20px 60px;
}
body main article.g7 form textarea#txt2 {
  max-width: 700px;
  height: 100px;
  font-size: 1.8rem;
  background-color: #eee;
  padding: 8px 20px;
  margin: 0 0 0 32px;
  border: 1px solid #ddd;
  border-radius: 20px 40px 20px 40px/20px 60px 20px 60px;
}
body main article.g7 form input[type=submit] {
  border: 1px solid #ff7f50;
  width: 200px;
  background-color: #111;
  font-size: 2rem;
  margin: 0 0 0 64px;
  padding: 5px;
  border-radius: 3px 15px 3px 15px/3px 10px 3px 10px;
  text-decoration: none;
  color: #ff7f50;
}
body main article.g7 form input[type=submit]:hover {
  border: 1px solid #ddd;
  color: #ddd;
  background-color: #444;
  transition: 250ms;
}
body main article.g7 form input[type=submit]:focus {
  color: #ddd;
  background-color: #444;
}
body main article.g8 {
  order: 8;
  grid-column: span 2;
  align-content: center;
}
body main article.g8 h1 {
  font-size: 4rem;
  text-shadow: 2px 1px 4px #ff7f50;
  color: #ddd;
}
body main article.g8 p {
  font-size: 1.8rem;
  color: #ddd;
  padding: 0 0 0 20px;
}
body footer {
  background-color: #111;
  color: #ddd;
  border-top: 2px solid #111;
  border-radius: 0 60px 0 0/0 80px 0 0;
  padding: 10px 40px;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
}
body footer nav {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}
body footer nav a svg {
  width: 30px;
  height: 30px;
  color: #aaa;
}

@media screen and (max-width: 1000px) {
  body header section.hero img {
    width: 200px;
    height: 200px;
    margin: 0 0 20px 0;
  }
  body main article.g6 {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 700px) {
  body header nav.navbar {
    border-radius: 0;
    border-left: 0;
    max-width: 100vw;
    width: 100vw;
  }
  body header nav.closed {
    margin: -40% 0 0 0;
    transition: 300ms;
  }
  body header button.mobileMenu {
    display: block;
  }
  body main {
    row-gap: 0;
  }
  body main article.g1 {
    grid-column: span 7;
    order: 2;
  }
  body main article.g2 {
    order: 1;
    grid-column: span 7;
  }
  body main article.g2 h1 {
    text-align: center;
  }
  body main article.g3 {
    grid-column: span 7;
  }
  body main article.g3 h1 {
    text-align: center;
  }
  body main article.g4 {
    grid-column: span 7;
    grid-template-columns: 1fr;
  }
  body main article.g4 section {
    padding: 40px;
  }
  body main article.g7 {
    order: 8;
    grid-column: span 7;
  }
  body main article.g8 {
    order: 7;
    grid-column: span 7;
  }
  body main article.g8 h1 {
    text-align: center;
  }
  body main article.g8 p {
    text-align: center;
  }
  body footer p {
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  body header section.hero {
    padding: 50px 0 20px 0;
  }
  body main {
    padding: 0;
  }
  body footer {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}/*# sourceMappingURL=styles.css.map */