@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


$dark: #000;
$background: #111;
$light: #eeeeee;
$middle: #635850;
$accent1: #ebc461;
$accent2: #f5852f;

$heading: 3vw;
$body: 2rem;
$footer: 1.3rem;

body {
    background-color: $background;
    color: $light;
    font-family: "Roboto Slab", serif;
    div#container {
        display: flex;
        margin: 2%;
        gap: 2%;
        header {
            overflow: hidden;
            border-radius: 30px 30px 0 0;
            min-width: 25%;
            figure {
                background-image: url(../images/PiP-Logo-Header-nobg.png);
                background-size: 140%;
                background-position: center;
                width: 100%;
                aspect-ratio: 1;
                background-color: $dark;
            }
            h1 {
                text-align: center;
                padding: 10px 5px 20px 5px;
                font-size: $heading;
                box-shadow: 2px 2px 8px $background;
                color: $accent1;
                background-color: $dark;
            }
            nav {
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                background-color: $dark;
                a {
                    color: $accent1;
                    text-decoration: none;
                    min-width: 50%;
                    padding: 5%;
                    font-size: $body;
                    text-align: center;
                    flex-grow: 1;
                    border: 1px solid $accent1;
                    &:hover {
                        transition: 350ms;
                        color: $accent2;
                        background: $middle;
                    }
                }
            }
        }
        main {
            background-color: $dark;
            overflow: hidden;
            border-radius: 30px;
            padding: 2%;
            box-shadow: 2px 2px 8px $background;
            section.hero {
                padding-bottom: 10px;
                figure {
                    background-image: url(../images/ginger-cat.jpg);
                    background-size: 120%;
                    background-position: center;
                    width: 100%;
                    aspect-ratio: 1;
                    position: relative;
                    border-radius: 30px;
                    overflow: hidden;
                    border: 2px solid $accent2;
                    h1 {
                        font-size: $heading;
                        position: absolute;
                        top: 28%; left: 15%;
                        text-align: center;
                    }
                    a {
                        font-size: $heading;
                        text-decoration: none;
                        position: absolute;
                        bottom: 3%; right: 3%;
                        color: $accent1;
                        background-color: rgba(0, 0, 0, .3);
                        padding: 5px;
                        border: 1px solid $accent1;
                        &:hover {
                            transition: 350ms;
                            color: $accent2;
                            background: $middle;
                        }
                    }
                }
                section.about-short {
                    margin: 10px 0;
                    h2 {
                        padding: 1%;
                        font-size: $heading;
                    }
                    p {
                        font-size: $body;
                        line-height: 2.8rem;
                    }
                }
            }
        }
    }
    footer {
        background-color: $dark;
        padding: 2% 5%;
        p {
            font-size: $footer;
            line-height: 2rem;
            color: $middle;
        }
        p.credit {
            font-style: italic; 
        }
    }
}






// 20% Project - Glowing Edges
// I wanted to add the glowing edges I found on codepen to the main section of my photography page. I've tinkered with it a bit to get it to work on my page, but a majority of the css and javascript is from the original creator.
// I think it turned out alright, but I will mess with it further to see if I can change the colors to be more warm/vibrant.

:root {
    /* variables for glowing edges */
    --glow-sens: 30;
    --card-bg: linear-gradient(8deg,var(--dark) 75%, color-mix(in hsl, var(--dark), rgb(255, 255, 255) 2.5%) 75.5%);
    --blend: soft-light;
    --glow-blend: plus-lighter;
    --glow-color: 40deg 80% 80%;
    --glow-boost: 0%;
   
}
.card {
    
    --pads: 40px;
    --color-sens: calc(var(--glow-sens) + 20);
    --pointer-째: 45deg;
    
    position: relative;
    
    &::before,
    &::after,
    & > .glow {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        transition: opacity 0.25s ease-out;
        z-index: -1;
    }
     
    &:not(:hover):not(.animating) {
        &::before,
        &::after,
        & > .glow {
            opacity: 0;
            transition: opacity 0.75s ease-in-out;
        }
    }
    
    &::before {
        
        /* mesh gradient border */
        
        border: 1px solid transparent;
        
        background:
            linear-gradient(var(--card-bg) 0 100%) padding-box,
            linear-gradient(rgba(255, 102, 0, 0) 0% 100%) border-box,
            radial-gradient(at 80% 55%, hsla(268,100%,76%,1) 0px, transparent 50%) border-box,
            radial-gradient(at 69% 34%, hsla(349,100%,74%,1) 0px, transparent 50%) border-box,
            radial-gradient(at 8% 6%, hsla(136,100%,78%,1) 0px, transparent 50%) border-box,
            radial-gradient(at 41% 38%, hsla(192,100%,64%,1) 0px, transparent 50%) border-box,
            radial-gradient(at 86% 85%, hsla(186,100%,74%,1) 0px, transparent 50%) border-box,
            radial-gradient(at 82% 18%, hsla(52,100%,65%,1) 0px, transparent 50%) border-box,
            radial-gradient(at 51% 4%, hsla(12,100%,72%,1) 0px, transparent 50%) border-box,
            linear-gradient(#ff7b00 0 100%) border-box;
        
        /* opacity increases as pointer gets near edge */
        opacity: calc((var(--pointer-d) - var(--color-sens)) / (2000 - var(--color-sens)));
        
        /* border is masked to a cone, originating from the center towards the pointer */
        mask-image: 
            conic-gradient( 
                from var(--pointer-째) at center, black 25%, transparent 40%, transparent 60%, black 75%
            );
    }
    
    &::after {
        
        /* mesh gradient background */
        
        border: 1px solid transparent;
        
        background:
            radial-gradient(at 80% 55%, rgb(255, 102, 0) 0px, transparent 25%) padding-box,
            radial-gradient(at 69% 34%, hsla(349,100%,74%,1) 0px, transparent 25%) padding-box,
            radial-gradient(at 8% 6%, hsla(136,100%,78%,1) 0px, transparent 25%) padding-box,
            radial-gradient(at 41% 38%, hsla(192,100%,64%,1) 0px, transparent 25%) padding-box,
            radial-gradient(at 86% 85%, hsla(186,100%,74%,1) 0px, transparent 25%) padding-box,
            radial-gradient(at 82% 18%, hsla(52,100%,65%,1) 0px, transparent 25%) padding-box,
            radial-gradient(at 51% 4%, hsla(12,100%,72%,1) 0px, transparent 25%) padding-box,
            linear-gradient(#ff6600 0 100%) padding-box;
        
        /* 5 radial masks to create a squircle-cut-out, and then a cone-gradient 
            originating from the center towards the pointer to highlight the edges */
        mask-image:
            linear-gradient( to bottom, black, black ),
            radial-gradient( ellipse at 50% 50%, black 40%, transparent 65% ),
            radial-gradient( ellipse at 66% 66%, black 5%, transparent 40% ),
            radial-gradient( ellipse at 33% 33%, black 5%, transparent 40% ),
            radial-gradient( ellipse at 66% 33%, black 5%, transparent 40% ),
            radial-gradient( ellipse at 33% 66%, black 5%, transparent 40% ),
            conic-gradient( from var(--pointer-째) at center, transparent 5%, black 15%, black 85%, transparent 95% );

        mask-composite: subtract,add,add,add,add,add;
        
        /* opacity increases as pointer gets near edge */
        opacity: calc((var(--pointer-d) - var(--color-sens)) / (100 - var(--color-sens)));
        mix-blend-mode: var(--blend);
        
    }
    
    & > .glow {
        
        /* glowing border edges */
        
        --outset: var(--pads);
        
        /* outer padding so the glow can overflow the element without being masked */
        inset: calc(var(--outset) * -1);
        pointer-events: none;
        z-index: 1;
        
        /* glow is masked to a cone, originating from the center towards the pointer */
        mask-image: 
            conic-gradient( 
                from var(--pointer-째) at center, black 2.5%, transparent 10%, transparent 90%, black 97.5%
            );
        
        /* opacity increases as pointer gets near edge */
        opacity: calc((var(--pointer-d) - var(--glow-sens)) / (100 - var(--glow-sens)));
        mix-blend-mode: var(--glow-blend);
        
        &::before {
            content: "";
            position: absolute;
            inset: var(--outset);
            border-radius: inherit;
            box-shadow: 
                inset 0 0 0 1px hsl( var(--glow-color) / 100%), 
                
                inset 0 0 1px 0 hsl( var(--glow-color) / calc(var(--glow-boost) + 60%)), 
                inset 0 0 3px 0 hsl( var(--glow-color) / calc(var(--glow-boost) + 50%)), 
                inset 0 0 6px 0 hsl( var(--glow-color) / calc(var(--glow-boost) + 40%)), 
                inset 0 0 15px 0 hsl( var(--glow-color) / calc(var(--glow-boost) + 30%)), 
                inset 0 0 25px 2px hsl( var(--glow-color) / calc(var(--glow-boost) + 20%)), 
                inset 0 0 50px 2px hsl( var(--glow-color) / calc(var(--glow-boost) + 10%)), 
                
                0 0 1px 0 hsl( var(--glow-color) / calc(var(--glow-boost) + 60%)), 
                0 0 3px 0 hsl( var(--glow-color) / calc(var(--glow-boost) + 50%)), 
                0 0 6px 0 hsl( var(--glow-color) / calc(var(--glow-boost) + 40%)), 
                0 0 15px 0 hsl( var(--glow-color) / calc(var(--glow-boost) + 30%)), 
                0 0 25px 2px hsl( var(--glow-color) / calc(var(--glow-boost) + 20%)), 
                0 0 50px 2px hsl( var(--glow-color) / calc(var(--glow-boost) + 10%));
            ;
        }
    }
}

















