@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
}

body {
    background-color: #111;
    color: #EEE;
    font-family: "Roboto Slab", serif;
}

div#container {
    display: flex;
    margin: 2%;
    gap: 2%;
}

header {
    background-color: #000;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
    min-width: 25%;
    box-shadow: 6px 6px 4px rgb(15, 15, 15);
}
header figure {
    background-image: url(../images/PiP-Logo-Header-nobg.png);
    background-size: 140%;
    background-position: center;
    width: 100%;
    aspect-ratio: 1;
}
header h1 {
    text-align: center;
    padding: 10px 5px 20px 5px;
    font-size: 3vw;
    box-shadow: 2px 2px 8px black;
    color: #ebc461;
}

header nav {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
header nav a {
    color: #ebc461;
    text-decoration: none;
    min-width: 50%;
    padding: 5%;
    font-size: 2vw;
    text-align: center;
    flex-grow: 1;
    border: 1px solid #ebc461;
}
header nav a:hover {
    transition: 350ms;
    color: #EEE;
    background: #111;
}

main {
    background-color: #000;
    overflow: hidden;
    border-radius: 30px;
    padding: 2%;
    box-shadow: 2px 2px 8px black;
}

section.hero {
    padding-bottom: 10px;
}
section.hero figure {
    background-image: url(../images/ginger-cat.jpg);
    background-size: 120%;
    background-position: center;
    width: 100%;
    aspect-ratio: 1;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}
section.hero figure h1 {
    font-size: 3vw;
    position: absolute;
    top: 28%; left: 15%;
    text-align: center;
}
section.hero figure a {
    font-size: 3vw;
    text-decoration: none;
    position: absolute;
    bottom: 3%; right: 3%;
    color: #ebc461;
    background-color: rgba(0, 0, 0, .3);
    padding: 5px;
    border: 1px solid #ebc461;
}
section.hero figure a:hover {
    transition: 350ms;
    color: white;
    background: #111;
}

section.about-short {
    margin: 10px 0;
}
.about-short h2 {
    padding: 1%;
    font-size: 3vw;
}
.about-short p {
    font-size: 1.7rem;
    line-height: 2.4rem;
}

footer {
    background-color: #000;
    padding: 2% 5%;
}
footer p {
    font-size: 1.3em;
    line-height: 2rem;
    color: #aaa;
}
footer p.credit {
    font-style: italic; 
}