@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Color Palette */
$light-background: #95cbf7;
$bright-background: #eef0f2;
$earth-background: #b88d48;
$tree-background: #5f6749;
$tree-darker: #4a5039;
$tree-lighter: #8F967E;
$dark-background: #020713;

/* Typography */
$heading: 5rem;
$subheading: 3.5rem;
$anchor: 2rem;
$body: 2rem;
$aside: 1.7rem;

/* 20% Project 3: Skip to Main Content Link
I added a link at the top of the page which is only visible when focused. This way, the button is only visbile to those who are navigating via keyboard and won't change the intended design of the website.
I added some links to the trainers as well so that there was something worth skipping to beyond just text. I also added a smooth transition for the link appearing on screen, and tried to match it to the color scheme.
It is also fixed to teh top of the webpage so that it always appears no matter where on teh page you are. */

/* Assignment | Cutting Edge Implementation
I read the article "CSS Intelligence: Speculating On The Future Of A Smarter Language" by Gabriel Shoyombo on Smashing Magazine's website. It discussed using container queries, and I implemented them on the trainers section. Originally, the images took up the full width of the articles, but they were often really large. I still liked how they looked at 100%, but only when the articles were thin. So, I set each article to be container-type inline-size and made the images shrink and center when the articles exceeded a width of 350px, using cqw units as well since settign the parent's container-type made them usable. */

body {
    background-color: $light-background;
    color: $dark-background;
    font-family: "Ubuntu", sans-serif;
    a.skip-link {
        position: fixed;
        top: 0; left: 0; right: 0;
        text-align: center;
        background-color: $tree-background;
        color: $bright-background;
        padding: 10px;
        z-index: 5;
        font-size: $anchor;
        translate: 0 -100%;
        transition: translate 150ms ease-in-out;
        &:focus {
            translate: 0;
        }
    }
    header {
        background-color: $bright-background;
        margin: 10px 10px 0 10px;
        border-radius: 60px 60px 0 0;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        padding: 3px;
        overflow: hidden;
        figure {
            background-image: url(../images/MC_Logo_Header.png);
            width: 33vw;
            aspect-ratio: 1408/768;
            background-size: cover;
        }
        figcaption {
            display: flex;
            align-items: center;
            max-width: 50vw;
            h1 {
                text-align: center;
                padding: 10px 20px 10px 10px;
                font-size: $heading;
                color: $dark-background;
                background-color: $earth-background;
                border-radius: 10px;
            }
        }
    }
    nav.navbar {
        background-color: $earth-background;
        border-radius: 5px 5px 0 0;
        width: auto;
        display: flex;
        justify-content: space-around;
        padding-top: 5px;
        a {
            width: 18%;
            text-decoration: none;
            text-align: center;
            font-size: $anchor;
            background-color: $tree-background;
            color: $bright-background;
            padding: 5px;
            border-radius: 10px 10px 0 0;
            &:focus {
                background-color: $tree-darker;
                color: $earth-background;
                outline: 2px solid $dark-background;
            }
            &:hover {
                transition: 250ms;
                background-color: $tree-darker;
                color: $earth-background;
            }
        }
        
    }
    section.hero {
        background-color: $tree-background;
        padding: 10px 0 10px 0;
        overflow: hidden;
        margin: 0;
        figure {
            background-image: url(../images/mountain.jpg);
            background-size: cover;
            width: auto; min-height: 300px;
            aspect-ratio: 2/1;
            position: relative;
            h1 {
                position: absolute;
                top: 20%; left: 10%;
                background-color: rgba($earth-background, .8);
                padding: 5px;
                border-radius: 10px;
                font-size: $heading;
                color: $dark-background;
            }
            a {
                position: absolute;
                top: 42%; left: 15%;
                text-align: center;
                text-decoration: none;
                color: $bright-background;
                background-color: $tree-background;
                font-size: $anchor;
                padding: 8px;
                border-radius: 10px;
                box-shadow: 0 2px 2px $dark-background;
                &:focus {
                    background-color: $tree-darker;
                    color: $earth-background;
                    outline: 2px solid $dark-background;
                }
                &:hover {
                    transition: 250ms;
                    background-color: $tree-darker;
                    color: $earth-background;
                }
            }
        }
    }
    main#main {
        background-color: $tree-background;
        padding: 10px 2vw;
        section {
            background-color: $tree-lighter;
            border-radius: 20px;
            overflow: hidden;
            padding: 10px;
            margin: 40px 0 40px 0;
            h2 {
                text-align: center;
                font-size: $subheading;
                padding: 20px 5px;
            }
            p {
                font-size: $body;
                line-height: 2.7rem;
                padding: 0 8% 20px 8%;
            }
        }
        section.trainer-preview {
            div {
                display: grid;
                gap: 2vw;
                grid-template-columns: repeat(3, 1fr);
                article {
                    border: 4px solid $tree-darker;
                    border-radius: 10px;
                    overflow: hidden;
                    background-color: $tree-darker;
                    color: $bright-background;
                    container-type: inline-size;
                    img {
                        max-width: 100cqw;
                    }
                    h2 {
                        font-size: $subheading;
                    }
                    p {
                        font-size: $body;
                        padding: 1cqw 2cqw;
                    }
                    a {
                        text-decoration: none;
                        text-align: center;
                        font-size: $anchor;
                        background-color: $tree-background;
                        color: $bright-background;
                        padding: 5px;
                        border-radius: 10px;
                        margin: 20px;
                        display: block;
                        &:focus {
                            background-color: $tree-darker;
                            color: $earth-background;
                            outline: 2px solid $dark-background;
                        }
                        &:hover {
                            transition: 250ms;
                            background-color: $tree-darker;
                            color: $earth-background;
                            outline: 2px solid $dark-background;
                        }
                    }
                    @container (min-width: 350px) {
                        img {
                            display: block;
                            max-width: 50cqw;
                            height: auto;
                            margin: 10px auto 0 auto;
                            border-radius: 30px;
                            border: 2px solid $earth-background;
                        }
                        p {
                            padding: 1cqw 10cqw;
                        }
                        a {
                            margin: 20px 10cqw;
                        }
                    }
                }
                article:nth-of-type(2) {
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
    footer {
        background-color: $dark-background;
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        color: $bright-background;
        padding: 10px;
        text-align: center;
        p {
            font-size: $aside;
            width: 30%;
            line-height: 3rem;
        }
        p.credit {
            font-style: italic;
        }
    }
    @media screen and (max-width: 1000px) {
        main#main {
            section.trainer-preview {
                div {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
    @media screen and (max-width: 750px) {
        header {
            align-content: center;
            figure {
                width: 100%;
            }
            figcaption {
                max-width: 100%;
                margin: 2px auto;
            }
        }
        main#main {
            section.trainer-preview {
                div {
                    grid-template-columns: 1fr;
                }
            }
        }
        footer {
            p {
                min-width: 100%;
            }
        }
    }
}





















