@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* Color Palette */
/* Typography */
body {
  background-color: #95cbf7;
  color: #000;
  font-family: "Ubuntu", sans-serif;
}
body header {
  background-color: #fafafa;
  margin: 10px 10px 0 10px;
  border-radius: 60px 60px 0 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 3px;
  overflow: hidden;
}
body header figure {
  background-image: url(../images/MC_Logo_Header.png);
  width: 33vw;
  aspect-ratio: 1408/768;
  background-size: cover;
}
body header figcaption {
  display: flex;
  align-items: center;
  max-width: 50vw;
}
body header figcaption h1 {
  text-align: center;
  padding: 10px 20px 10px 10px;
  font-size: 4rem;
}
body nav.navbar {
  background-color: #dcad7f;
  width: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
}
body nav.navbar a {
  width: 18%;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  background-color: #5f6749;
  color: #fafafa;
  padding: 5px;
  border-radius: 10px 10px 0 0;
}
body nav.navbar a:hover {
  transition: 250ms;
  background-color: #4a5039;
  color: #95cbf7;
}
body section.hero {
  background-color: #5f6749;
  padding: 10px 0 10px 0;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  margin: 0;
}
body section.hero figure {
  background-image: url(../images/mountain.jpg);
  background-size: cover;
  width: auto;
  min-height: 300px;
  aspect-ratio: 2/1;
  position: relative;
}
body section.hero figure h1 {
  position: absolute;
  top: 20%;
  left: 10%;
  background-color: rgba(250, 250, 250, 0.5);
  padding: 5px;
  border-radius: 10px;
  font-size: 4rem;
}
body section.hero figure a {
  position: absolute;
  top: 38%;
  left: 15%;
  text-align: center;
  text-decoration: none;
  color: #fafafa;
  background-color: #5f6749;
  font-size: 2rem;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 2px 2px #000;
}
body section.hero figure a:hover {
  transition: 250ms;
  background-color: #4a5039;
  color: #95cbf7;
}
body main {
  background-color: #5f6749;
  padding: 10px;
}
body main section {
  background-color: #8F967E;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
  margin: 20px 0 20px 0;
}
body main section h2 {
  text-align: center;
  font-size: 4rem;
  padding: 5px;
}
body main section p {
  font-size: 2rem;
  line-height: 2.4rem;
  padding: 0 10%;
}
body main section.trainer-preview div {
  display: grid;
  gap: 1vw;
  grid-template-columns: 33% auto auto;
}
body main section.trainer-preview div article {
  border: 4px solid #4a5039;
  border-radius: 10px;
  overflow: hidden;
}
body main section.trainer-preview div article img {
  max-width: 100%;
}
body main section.trainer-preview div article h2 {
  font-size: 3rem;
}
body main section.trainer-preview div article p {
  font-size: 2rem;
  padding: 1vw;
}
body footer {
  background-color: #213763;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  color: #8F967E;
  padding: 10px;
  text-align: center;
}
body footer p {
  font-size: 1.7rem;
  width: 30%;
  line-height: 3rem;
}
body footer p.credit {
  font-style: italic;
}
@media screen and (max-width: 750px) {
  body header {
    align-content: center;
  }
  body header figure {
    width: 100%;
  }
  body header figcaption {
    max-width: 100%;
    margin: 2px auto;
  }
  body main section.trainer-preview div {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 500px) {
  body main section.trainer-preview div {
    grid-template-columns: auto;
  }
  body footer p {
    min-width: 100%;
  }
}/*# sourceMappingURL=main-styles.css.map */