@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
}

/* Color Pallete */
/* Ebony - #5F6749 */
/* Jungle Teal - #458476 */
/* Palm Leaf - #8F967E */
/* Sandy Clay - #DCAD7F */
/* Sky Blue - #95CBF7 */
/* Twilight Indigo - #213763 */
/* Bright Snow - #FAFAFA */

body {
    background-color: #95cbf7;
    font-family: "Ubuntu", sans-serif;
}

header {
    background-color: #ffffff;
    margin: 10px 10px 0 10px;
    border-radius: 60px 60px 0 0;
    display: flex;
    padding: 3px;
    overflow: hidden;
}
header h1 {
    text-align: center;
    padding: 10px;
    font-size: 4vw;
}
header figure {
    background-image: url(../images/MC_Logo_Header.png);
    min-width: 30%;
    aspect-ratio: 2/1;
    background-size: cover;
}

nav.navbar {
    background-color: #DCAD7F;
    width: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}
nav.navbar a {
    width: 18%;
    text-decoration: none;
    text-align: center;
    font-size: 1.7rem;
    background-color: #5F6749;
    color: #FAFAFA;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}
nav.navbar a:hover {
    transition: 250ms;
    background-color: #4a5039;
    color: #95cbf7;
}

section.hero {
    background-color: #5F6749;
    padding: 10px 0 10px 0;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    margin: 0;
}
.hero figure {
    background-image: url(../images/mountain.jpg);
    background-size: cover;
    width: auto; min-height: 300px;
    aspect-ratio: 2/1;
    position: relative;
}
.hero figure h1 {
    position: absolute;
    top: 20%; left: 10%;
    font-size: 3.5rem;
    background-color: rgba(255, 255, 255, .5);
    padding: 5px;
    border-radius: 10px;
}
.hero figure a {
    position: absolute;
    top: 38%; left: 15%;
    text-align: center;
    text-decoration: none;
    color: #fafafa;
    background-color: #5F6749;
    font-size: 1.7rem;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 2px 2px black;
}
.hero figure a:hover {
    transition: 250ms;
    background-color: #4a5039;
    color: #95cbf7;
}

main {
    background-color: #5F6749;
    padding: 10px;
}

section {
    background-color: #8F967E;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
    margin: 20px 0 20px 0;
}
section h2 {
    text-align: center;
    font-size: 3rem;
    padding: 5px;
}
section p {
    font-size: 1.7rem;
    line-height: 2.4rem;
    padding: 0 10%;
}

footer {
    background-color: #213763;
    color: #b3cbdf;
    padding: 10px;
    text-align: center;
}
footer p {
    font-size: 1.4rem;
}
p.credit {
    font-style: italic;
}
