@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$bright: #eee;
$medium: #ddd;
$semi-dark: #aaa;
$dark: #444;
$highlight: #ff7f50;

$anchor: 1.8rem;
$paragraph: 1.6rem;
$heading: 3rem;
$subheading: 2.5rem;

body.home {
    background-color: $medium;
    header {
        background-color: $medium;
        padding: 5px;
        h1 {
            text-align: center;
            font-size: $heading;
            padding: 5px;
        }
        h2 {
            text-align: center;
            font-size: $subheading;
            padding: 5px;
        }
    }
    nav.navbar {
        background-color: $semi-dark;
        margin: 0 20px 15px 20px;
        border-radius: 10px;
        box-shadow: 2px 2px 4px $dark;
        padding: 10px;
        display: flex;
        gap: 10px;
        justify-content: space-evenly;
        a {
            font-size: $anchor;
            text-decoration: none;
            text-align: center;
            color: $bright;
            background-color: $dark;
            padding: 10px 7px;
            border-radius: 5px;
            box-shadow: 2px 2px 8px $dark;
            &:hover {
                transition: 200ms;
                color: $highlight;
                box-shadow: 3px 3px 8px $dark;
            }
        }
    }
    main {
        background-color: $medium;
        h1 {
            text-align: center;
            padding: 10px;
            font-size: $subheading;
        }
        section {
            background-color: $semi-dark;
            display: flex;
            flex-flow: row wrap;
            padding: 10px;
            gap: 10px;
            margin: 0 20px 15px 20px;
            border-radius: 10px;
            justify-content: space-between;
            box-shadow: 2px 2px 4px $dark;
            a {
                flex-grow: 1;
                width: 49%;
                text-align: center;
                text-decoration: none;
                font-size: $anchor;
                color: $bright;
                background-color: $dark;
                padding: 10px 7px;
                border-radius: 5px;
                box-shadow: 2px 2px 8px $dark;
                &:hover {
                    transition: 200ms;
                    color: $highlight;
                    box-shadow: 3px 3px 8px $dark;
                }
            }
        }
    }
}

/* Participation | Layout Logic */
body.layout {
    background-color: $medium;
    header {
        background-color: $semi-dark;
        box-shadow: 2px 2px 4px $dark;
        margin: 10px 20px;
        padding: 10px;
        display: flex;
        flex-flow: row wrap;
        align-items: end;
        justify-content: space-between;
        gap: 10px;
        border-radius: 10px;
        h1 {
            text-align: center;
            background-color: $dark;
            font-size: $heading;
            padding: 5px;
            border-radius: 5px;
            color: $bright;
            box-shadow: 2px 2px 4px $dark;
        }
        input {
            max-height: 30px;
            max-width: 500px;
            flex-grow: 1;
            padding: 3px;
            border-radius: 10px;
            border: 2px solid $dark;
            box-shadow: 2px 2px 4px $dark;
            font-size: $anchor;
        }
        nav.navbar {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            min-width: 200px;
            a {
                font-size: $anchor;
                text-align: center;
                text-decoration: none;
                color: $bright;
                background-color: $dark;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 2px 2px 4px $dark;
                &:hover {
                    transition: 200ms;
                    color: $highlight;
                    box-shadow: 3px 3px 8px $dark;
                }
            }
        }
    }
    main {
        padding: 15px 20px;
        display: grid;
        grid-template-columns: 30vw auto 30vw;
        gap: 3vw;
        article {
            background-color: $semi-dark;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 2px 2px 4px $dark;
            h1 {
                text-align: center;
                font-size: $subheading;
                padding: 5px;
            }
            p {
                font-size: $paragraph;
                padding: 5px;
            }
            figure {
                background-image: url(../participation/images/skyscraper-roof.jpg);
                background-size: cover;
                width: auto; aspect-ratio: 1;
                border-radius: 10px;
                figcaption {
                    font-size: $paragraph;
                    padding: 5px;
                }
            }
        }
    }
    footer {
        background-color: $dark;
        color: $bright;
        padding: 15px 20px;
        font-size: $paragraph;
        a {
            color: $highlight;
        }
    }
    @media screen and (max-width: 700px) {
        main {
            grid-template-columns: auto auto;
        }
    }
}

/* Participation | Style Guide */
body.style-guide {
    background-color: $medium;
    header {
        background-color: $medium;
        padding: 5px;
        h1 {
            text-align: center;
            font-size: $heading;
            padding: 5px;
        }
        h2 {
            text-align: center;
            font-size: $subheading;
            padding: 5px;
        }
    }
    main {
        margin: 0 20px;
        section {
            background-color: $semi-dark;
            box-shadow: 2px 2px 4px $dark;
            border-radius: 10px;
            padding: 10px;
            margin: 0 0 10px 0;
        }
        section.color {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            div {
                border: 2px solid $dark;
                border-radius: 10px;
                box-shadow: 2px 2px 4px $dark;
                overflow: hidden;
                padding-bottom: 80px;
                h2 {
                    font-size: $subheading;
                    padding: 5px;
                    background-color: $dark;
                    color: $bright;
                }
                p {
                    font-size: $paragraph;
                    padding: 5px;
                    background-color: $dark;
                    color: $bright;
                }
            }
            div:nth-child(1) {
                background-color: #5f6749;
            }
            div:nth-child(2) {
                background-color: #b88d48;
            }
            div:nth-child(3) {
                background-color: #8f967e;
            }
            div:nth-child(4) {
                background-color: #020713;
            }
            div:nth-child(5) {
                background-color: #4a5039;
            }
            div:nth-child(6) {
                background-color: #95cbf7;
            }
            div:nth-child(7) {
                background-color: #eef0f2;
            }
        }
        section.font {
            font-family: "Ubuntu", sans-serif;
            h1 {
                font-size: 5rem;
                color: #020713;
                padding: 10px;
                background-color: #b88d48;
                border-radius: 10px;
                text-align: center;
            }
            h2 {
                font-size: 3.5rem;
                color: #020713;
                padding: 10px;
            }
            p {
                font-size: 2rem;
                color: #020713;
                padding: 10px;
            }
        }
    }
}

/* Participation | Industry Pulse */
body.pulse {
    background-color: $medium;
    header {
        background-color: $medium;
        padding: 5px;
        h1 {
            text-align: center;
            font-size: $heading;
            padding: 5px;
        }
        h2 {
            text-align: center;
            font-size: $subheading;
            padding: 5px;
        }
    }
    main {
        .swipe {
            background-color: $semi-dark;
            box-shadow: 2px 2px 4px $dark;
            container-type: inline-size;
            display: grid;
            grid-template-columns: auto 1fr auto;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            div.left {
                background-color: $highlight;
                width: 350px;
                p {
                    text-align: center;
                    margin: 6px;
                    padding: 2px;
                    font-size: $paragraph;
                    border-radius: 8px;
                    border: 2px solid $dark;
                }
            }
            div.right {
                background-color: $dark;
                width: 350px;
                p {
                    text-align: center;
                    margin: 6px;
                    padding: 2px;
                    background-color: $dark;
                    color: $bright;
                    font-size: $paragraph;
                    border-radius: 8px;
                    border: 2px solid $highlight;
                }
            }
            div.center {
                width: 100vw;
                p {
                    padding: 8px;
                    font-size: $paragraph;
                    text-align: center;
                }
                scroll-snap-align: center;
            }
        }
        h2 {
            text-align: center;
            font-size: $subheading;
            padding: 15px 5px 5px 5px;
            background-color: $medium;
        }
        .hold {
            div.left {
                animation: scroll_hold 0.0001s forwards;
            }
            div.right {
                scroll-snap-align: end;
            }
        }
        .cqw {
            width: 400px;
            margin: 0 auto;
            div.center {
                width: 100cqw;
            }
        }
    }
}

@keyframes scroll_hold {
    to {
        scroll-snap-align: start;
    }
}

/* Participation | Hello, Javascript */
body.js_intro {
    background-color: $medium;
    header {
        text-align: center;
        padding: 20px;
        h1 {
            font-size: $heading;
        }
        h2 {
            font-size: $subheading;
        }
    }
    main {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 800px;
        article {
            background-color: $semi-dark;
            box-shadow: 2px 2px 4px $dark;
            border-radius: 10px;
            padding: 8px;
            display: flex;
            flex-direction: column;
            button {
                color: $bright;
                background-color: $dark;
                padding: 8px;
                margin: 8px auto;
                border-radius: 8px;
            }
            p {
                font-size: $paragraph;
                padding: 8px;    
            }
        }
    }
}
