@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body.home {
  background-color: #ddd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body.home header {
  background-color: #444;
  color: #eee;
  padding: 5px;
}
body.home header h1 {
  text-align: center;
  font-size: 3rem;
  padding: 5px;
}
body.home header h2 {
  text-align: center;
  font-size: 2.5rem;
  padding: 5px;
}
body.home div {
  background: radial-gradient(circle, rgb(255, 127, 80) 0%, rgb(156, 123, 123) 61%, rgb(97, 97, 97) 100%);
  padding: 20px 0 20px 0;
}
body.home div article {
  max-width: 1100px;
  margin: 0 auto 15px auto;
  background-color: rgba(170, 170, 170, 0.6);
  border-radius: 10px;
  box-shadow: 0px 2px 4px #aaa;
  padding: 8px;
  color: #eee;
}
body.home div article h2 {
  font-size: 2.5rem;
  padding: 8px 8px 4px 8px;
  background-color: #444;
  border-radius: 10px 10px 0 0;
}
body.home div article p {
  font-size: 1.6rem;
  padding: 4px 8px 8px 8px;
  background-color: #444;
  border-radius: 0 0 10px 10px;
}
body.home div nav.navbar {
  background-color: rgba(170, 170, 170, 0.6);
  margin: 50px auto;
  max-width: 1100px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #aaa;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-content: space-evenly;
}
body.home div nav.navbar h1 {
  text-align: center;
  padding: 10px;
  font-size: 2.5rem;
  grid-column: span 2;
}
body.home div nav.navbar a {
  border: 3px solid #444;
  container-type: inline-size;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}
body.home div nav.navbar a h2 {
  background-color: #444;
  font-size: 2.5rem;
  padding: 8px 8px 4px 8px;
}
body.home div nav.navbar a p {
  background-color: #444;
  font-size: 1.6rem;
  padding: 4px 8px 8px 8px;
}
body.home div nav.navbar a img {
  max-width: 100cqw;
  margin: 0px auto;
}
body.home div nav.navbar a:hover {
  color: #ff7f50;
  transition: 250ms;
  box-shadow: 0px 0px 8px #444;
}
body.home div nav.navbar a:nth-child(2) {
  background-color: #8f967e;
}
body.home div nav.navbar a:nth-child(2) img {
  aspect-ratio: 677/339;
  padding: 8px;
}
body.home div nav.navbar a:nth-child(3) {
  background-color: #363636;
}
body.home div nav.navbar a:nth-child(3) img {
  display: block;
}
body.home div main {
  margin: 0px auto;
  max-width: 1100px;
}
body.home div main section {
  background-color: rgba(170, 170, 170, 0.6);
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 0px -2px 4px #aaa;
}
body.home div main section h1 {
  text-align: center;
  padding: 10px;
  font-size: 2.5rem;
  min-width: 100%;
}
body.home div main section a {
  flex-grow: 1;
  width: 49%;
  text-align: center;
  text-decoration: none;
  font-size: 1.8rem;
  color: #eee;
  background-color: #444;
  padding: 10px 7px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px #444;
}
body.home div main section a h2 {
  font-size: 2.5rem;
}
body.home div main section a p {
  padding: 10px;
  font-size: 1.6rem;
}
body.home div main section a:hover {
  transition: 200ms;
  color: #ff7f50;
  box-shadow: 0px 0px 8px #444;
}
body.home footer {
  background-color: #444;
  padding: 8px 0;
}
body.home footer p {
  max-width: 500px;
  text-align: center;
  margin: 0px auto;
  padding: 8px;
  font-size: 1.6rem;
  color: #eee;
}
@media screen and (max-width: 700px) {
  body.home div {
    padding: 20px;
  }
  body.home div nav.navbar {
    grid-template-columns: 1fr;
  }
  body.home div nav.navbar h1 {
    grid-column: span 1;
  }
}

/* Participation | Layout Logic */
body.layout {
  background-color: #ddd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body.layout header {
  background-color: #aaa;
  box-shadow: 2px 2px 4px #444;
  margin: 10px 20px;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: end;
  justify-content: space-between;
  gap: 10px;
  border-radius: 10px;
}
body.layout header h1 {
  text-align: center;
  background-color: #444;
  font-size: 3rem;
  padding: 5px;
  border-radius: 5px;
  color: #eee;
  box-shadow: 2px 2px 4px #444;
}
body.layout header input {
  max-height: 30px;
  max-width: 500px;
  flex-grow: 1;
  padding: 3px;
  border-radius: 10px;
  border: 2px solid #444;
  box-shadow: 2px 2px 4px #444;
  font-size: 1.8rem;
}
body.layout header nav.navbar {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  min-width: 200px;
}
body.layout header nav.navbar a {
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  color: #eee;
  background-color: #444;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #444;
}
body.layout header nav.navbar a:hover {
  transition: 200ms;
  color: #ff7f50;
  box-shadow: 3px 3px 8px #444;
}
body.layout main {
  padding: 15px 20px;
  display: grid;
  grid-template-columns: 30vw auto 30vw;
  gap: 3vw;
}
body.layout main article {
  background-color: #aaa;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #444;
}
body.layout main article h1 {
  text-align: center;
  font-size: 2.5rem;
  padding: 5px;
}
body.layout main article p {
  font-size: 1.6rem;
  padding: 5px;
}
body.layout main article figure {
  background-image: url(../participation/images/skyscraper-roof.jpg);
  background-size: cover;
  width: auto;
  aspect-ratio: 1;
  border-radius: 10px;
}
body.layout main article figure figcaption {
  font-size: 1.6rem;
  padding: 5px;
}
body.layout footer {
  background-color: #444;
  color: #eee;
  padding: 15px 20px;
  font-size: 1.6rem;
}
body.layout footer a {
  color: #ff7f50;
}
@media screen and (max-width: 700px) {
  body.layout main {
    grid-template-columns: auto auto;
  }
}

/* Participation | Style Guide */
body.style-guide {
  background-color: #ddd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body.style-guide header {
  background-color: #ddd;
  padding: 5px;
}
body.style-guide header h1 {
  text-align: center;
  font-size: 3rem;
  padding: 5px;
}
body.style-guide header h2 {
  text-align: center;
  font-size: 2.5rem;
  padding: 5px;
}
body.style-guide main {
  margin: 0 20px;
}
body.style-guide main section {
  background-color: #aaa;
  box-shadow: 2px 2px 4px #444;
  border-radius: 10px;
  padding: 10px;
  margin: 0 0 10px 0;
}
body.style-guide main section.color {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
body.style-guide main section.color div {
  border: 2px solid #444;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #444;
  overflow: hidden;
  padding-bottom: 80px;
}
body.style-guide main section.color div h2 {
  font-size: 2.5rem;
  padding: 5px;
  background-color: #444;
  color: #eee;
}
body.style-guide main section.color div p {
  font-size: 1.6rem;
  padding: 5px;
  background-color: #444;
  color: #eee;
}
body.style-guide main section.color div:nth-child(1) {
  background-color: #5f6749;
}
body.style-guide main section.color div:nth-child(2) {
  background-color: #b88d48;
}
body.style-guide main section.color div:nth-child(3) {
  background-color: #8f967e;
}
body.style-guide main section.color div:nth-child(4) {
  background-color: #020713;
}
body.style-guide main section.color div:nth-child(5) {
  background-color: #4a5039;
}
body.style-guide main section.color div:nth-child(6) {
  background-color: #95cbf7;
}
body.style-guide main section.color div:nth-child(7) {
  background-color: #eef0f2;
}
body.style-guide main section.font {
  font-family: "Ubuntu", sans-serif;
}
body.style-guide main section.font h1 {
  font-size: 5rem;
  color: #020713;
  padding: 10px;
  background-color: #b88d48;
  border-radius: 10px;
  text-align: center;
}
body.style-guide main section.font h2 {
  font-size: 3.5rem;
  color: #020713;
  padding: 10px;
}
body.style-guide main section.font p {
  font-size: 2rem;
  color: #020713;
  padding: 10px;
}

/* Participation | Industry Pulse */
body.pulse {
  background-color: #ddd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body.pulse header {
  background-color: #ddd;
  padding: 5px;
}
body.pulse header h1 {
  text-align: center;
  font-size: 3rem;
  padding: 5px;
}
body.pulse header h2 {
  text-align: center;
  font-size: 2.5rem;
  padding: 5px;
}
body.pulse main .swipe {
  background-color: #aaa;
  box-shadow: 2px 2px 4px #444;
  container-type: inline-size;
  display: grid;
  grid-template-columns: auto 1fr auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
body.pulse main .swipe div.left {
  background-color: #ff7f50;
  width: 350px;
}
body.pulse main .swipe div.left p {
  text-align: center;
  margin: 6px;
  padding: 2px;
  font-size: 1.6rem;
  border-radius: 8px;
  border: 2px solid #444;
}
body.pulse main .swipe div.right {
  background-color: #444;
  width: 350px;
}
body.pulse main .swipe div.right p {
  text-align: center;
  margin: 6px;
  padding: 2px;
  background-color: #444;
  color: #eee;
  font-size: 1.6rem;
  border-radius: 8px;
  border: 2px solid #ff7f50;
}
body.pulse main .swipe div.center {
  width: 100vw;
}
body.pulse main .swipe div.center p {
  padding: 8px;
  font-size: 1.6rem;
  text-align: center;
}
body.pulse main .swipe div.center {
  scroll-snap-align: center;
}
body.pulse main h2 {
  text-align: center;
  font-size: 2.5rem;
  padding: 15px 5px 5px 5px;
  background-color: #ddd;
}
body.pulse main .hold div.left {
  animation: scroll_hold 0.0001s forwards;
}
body.pulse main .hold div.right {
  scroll-snap-align: end;
}
body.pulse main .cqw {
  width: 400px;
  margin: 0 auto;
}
body.pulse main .cqw div.center {
  width: 100cqw;
}

@keyframes scroll_hold {
  to {
    scroll-snap-align: start;
  }
}
/* Participation | Hello, Javascript */
body.js_intro {
  background-color: #ddd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body.js_intro header {
  text-align: center;
  padding: 20px;
}
body.js_intro header h1 {
  font-size: 3rem;
}
body.js_intro header h2 {
  font-size: 2.5rem;
}
body.js_intro main {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 800px;
}
body.js_intro main article {
  background-color: #aaa;
  box-shadow: 2px 2px 4px #444;
  border-radius: 10px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}
body.js_intro main article button {
  color: #eee;
  background-color: #444;
  padding: 8px;
  margin: 8px auto;
  border-radius: 8px;
}
body.js_intro main article p {
  font-size: 1.6rem;
  padding: 8px;
}

/* Participation | The Mobile Menu */
body.mobile_menu {
  background-color: #ddd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body.mobile_menu header {
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #444;
  text-align: center;
  padding: 20px;
}
body.mobile_menu header h1 {
  font-size: 3rem;
  color: #eee;
}
body.mobile_menu main {
  margin: 0 auto;
  padding: 74px 20px 0 20px;
  max-width: 1000px;
}
body.mobile_menu main div {
  position: relative;
  height: 10px;
  margin: 0 10px;
  container-type: size;
}
body.mobile_menu main div nav.nav-menu {
  transition: all 0.5s ease;
  position: absolute;
  background-color: #444;
  padding: 8px 10px;
  max-width: 100px;
  top: 0;
  height: 120px;
  margin: -122px 0 0 0;
  border-radius: 0 0 8px 0;
}
body.mobile_menu main div nav.nav-menu ul {
  list-style-type: none;
}
body.mobile_menu main div nav.nav-menu ul li a {
  text-decoration: none;
  color: #eee;
  font-size: 1.8rem;
}
body.mobile_menu main div nav.nav-menu ul li a:hover {
  text-decoration: underline;
  color: #ff7f50;
}
body.mobile_menu main div nav.open {
  margin: -2px 0 0 0;
}
body.mobile_menu main div button {
  transition: all 0.5s ease;
  position: absolute;
  border: 0px;
  background-color: #444;
  color: #eee;
  padding: 4px;
  font-size: 1.6rem;
  margin: -2px 0 0 0;
  top: -2px;
  border-radius: 0 0 8px 8px;
}
body.mobile_menu main div button:hover {
  color: #ff7f50;
}
body.mobile_menu main div button.open {
  top: 118px;
}
body.mobile_menu main article {
  background-color: #aaa;
  box-shadow: 2px 2px 4px #444;
  border-radius: 10px;
  padding: 8px;
  margin: 20px 0 0 0;
}
body.mobile_menu main article p {
  font-size: 1.6rem;
  padding: 8px;
}/*# sourceMappingURL=styles.css.map */