@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$bright: #eee;
$medium: #ddd;
$semi-dark: #aaa;
$dark: #444;
$highlight: #ff7f50;

$anchor: 1.8rem;
$paragraph: 1.6rem;
$heading: 3rem;
$subheading: 2.5rem;

body.home {
    background-color: $medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    header {
        background-color: $dark;
        color: $bright;
        padding: 5px;
        h1 {
            text-align: center;
            font-size: $heading;
            padding: 5px;
        }
        h2 {
            text-align: center;
            font-size: $subheading;
            padding: 5px;
        }
    }
    div {
        background: radial-gradient(circle, rgba(255, 127, 80, 1) 0%, rgba(156, 123, 123, 1) 61%, rgba(97, 97, 97, 1) 100%);
        padding: 20px 0 20px 0;
        article {
            max-width: 1100px;
            margin: 0 auto 15px auto;
            background-color: rgba($semi-dark, 60%);
            border-radius: 10px;
            box-shadow: 0px 2px 4px $semi-dark;
            padding: 8px;
            color: $bright;
            h2 {
                font-size: $subheading;
                padding: 8px 8px 4px 8px;
                background-color: $dark;
                border-radius: 10px 10px 0 0;
            }
            p {
                font-size: $paragraph;
                padding: 4px 8px 8px 8px;
                background-color: $dark;
                border-radius: 0 0 10px 10px;
            }
        }
        nav.navbar {
            background-color: rgba($semi-dark, 60%);
            margin: 50px auto;
            max-width: 1100px;
            border-radius: 10px;
            box-shadow: 0px 0px 8px $semi-dark;
            padding: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            justify-content: space-evenly;
            h1 {
                text-align: center;
                padding: 10px;
                font-size: $subheading;
                grid-column: span 2;
            }
            a {
                border: 3px solid $dark;
                container-type: inline-size;
                border-radius: 10px;
                color: white;
                text-decoration: none;
                h2 {
                    background-color: $dark;
                    font-size: $subheading;
                    padding: 8px 8px 4px 8px;
                }
                p {
                    background-color: $dark;
                    font-size: $paragraph;
                    padding: 4px 8px 8px 8px;
                }
                img {
                    max-width: 100cqw;
                    margin: 0px auto;
                }
                &:hover {
                    color: $highlight;
                    transition: 250ms;
                    box-shadow: 0px 0px 8px $dark;
                }
            }
            a:nth-child(2) {
                background-color: #8f967e;
                img {
                    aspect-ratio: 677/339;
                    padding: 8px;
                }
            }
            a:nth-child(3) {
                background-color: #363636;
                img {
                    display: block;
                }
            }
        }
        main {
            margin: 0px auto;
            max-width: 1100px;
            section {
                background-color: rgba($semi-dark, 60%);
                display: flex;
                flex-flow: row wrap;
                padding: 10px;
                gap: 10px;
                border-radius: 10px;
                justify-content: space-between;
                box-shadow: 0px -2px 4px $semi-dark;
                h1 {
                    text-align: center;
                    padding: 10px;
                    font-size: $subheading;
                    min-width: 100%;
                }
                a {
                    flex-grow: 1;
                    width: 49%;
                    text-align: center;
                    text-decoration: none;
                    font-size: $anchor;
                    color: $bright;
                    background-color: $dark;
                    padding: 10px 7px;
                    border-radius: 5px;
                    box-shadow: 0px 0px 4px $dark;
                    h2 {
                        font-size: $subheading;
                    }
                    p {
                        padding: 10px;
                        font-size: $paragraph;
                    }
                    &:hover {
                        transition: 200ms;
                        color: $highlight;
                        box-shadow: 0px 0px 8px $dark;
                    }
                }
            }
        }
    }
    footer {
        background-color: $dark;
        padding: 8px 0;
        p {
            max-width: 500px;
            text-align: center;
            margin: 0px auto;
            padding: 8px;
            font-size: $paragraph;
            color: $bright;
        }
    }
    
    @media screen and (max-width: 700px) {
        div {
            padding: 20px;
            nav.navbar {
                grid-template-columns: 1fr;
                h1 {
                    grid-column: span 1;
                }
            }
        } 
    }
}

/* Participation | Layout Logic */
body.layout {
    background-color: $medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    header {
        background-color: $semi-dark;
        box-shadow: 2px 2px 4px $dark;
        margin: 10px 20px;
        padding: 10px;
        display: flex;
        flex-flow: row wrap;
        align-items: end;
        justify-content: space-between;
        gap: 10px;
        border-radius: 10px;
        h1 {
            text-align: center;
            background-color: $dark;
            font-size: $heading;
            padding: 5px;
            border-radius: 5px;
            color: $bright;
            box-shadow: 2px 2px 4px $dark;
        }
        input {
            max-height: 30px;
            max-width: 500px;
            flex-grow: 1;
            padding: 3px;
            border-radius: 10px;
            border: 2px solid $dark;
            box-shadow: 2px 2px 4px $dark;
            font-size: $anchor;
        }
        nav.navbar {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            min-width: 200px;
            a {
                font-size: $anchor;
                text-align: center;
                text-decoration: none;
                color: $bright;
                background-color: $dark;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 2px 2px 4px $dark;
                &:hover {
                    transition: 200ms;
                    color: $highlight;
                    box-shadow: 3px 3px 8px $dark;
                }
            }
        }
    }
    main {
        padding: 15px 20px;
        display: grid;
        grid-template-columns: 30vw auto 30vw;
        gap: 3vw;
        article {
            background-color: $semi-dark;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 2px 2px 4px $dark;
            h1 {
                text-align: center;
                font-size: $subheading;
                padding: 5px;
            }
            p {
                font-size: $paragraph;
                padding: 5px;
            }
            figure {
                background-image: url(../participation/images/skyscraper-roof.jpg);
                background-size: cover;
                width: auto; aspect-ratio: 1;
                border-radius: 10px;
                figcaption {
                    font-size: $paragraph;
                    padding: 5px;
                }
            }
        }
    }
    footer {
        background-color: $dark;
        color: $bright;
        padding: 15px 20px;
        font-size: $paragraph;
        a {
            color: $highlight;
        }
    }
    @media screen and (max-width: 700px) {
        main {
            grid-template-columns: auto auto;
        }
    }
}

/* Participation | Style Guide */
body.style-guide {
    background-color: $medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    header {
        background-color: $medium;
        padding: 5px;
        h1 {
            text-align: center;
            font-size: $heading;
            padding: 5px;
        }
        h2 {
            text-align: center;
            font-size: $subheading;
            padding: 5px;
        }
    }
    main {
        margin: 0 20px;
        section {
            background-color: $semi-dark;
            box-shadow: 2px 2px 4px $dark;
            border-radius: 10px;
            padding: 10px;
            margin: 0 0 10px 0;
        }
        section.color {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            div {
                border: 2px solid $dark;
                border-radius: 10px;
                box-shadow: 2px 2px 4px $dark;
                overflow: hidden;
                padding-bottom: 80px;
                h2 {
                    font-size: $subheading;
                    padding: 5px;
                    background-color: $dark;
                    color: $bright;
                }
                p {
                    font-size: $paragraph;
                    padding: 5px;
                    background-color: $dark;
                    color: $bright;
                }
            }
            div:nth-child(1) {
                background-color: #5f6749;
            }
            div:nth-child(2) {
                background-color: #b88d48;
            }
            div:nth-child(3) {
                background-color: #8f967e;
            }
            div:nth-child(4) {
                background-color: #020713;
            }
            div:nth-child(5) {
                background-color: #4a5039;
            }
            div:nth-child(6) {
                background-color: #95cbf7;
            }
            div:nth-child(7) {
                background-color: #eef0f2;
            }
        }
        section.font {
            font-family: "Ubuntu", sans-serif;
            h1 {
                font-size: 5rem;
                color: #020713;
                padding: 10px;
                background-color: #b88d48;
                border-radius: 10px;
                text-align: center;
            }
            h2 {
                font-size: 3.5rem;
                color: #020713;
                padding: 10px;
            }
            p {
                font-size: 2rem;
                color: #020713;
                padding: 10px;
            }
        }
    }
}

/* Participation | Industry Pulse */
body.pulse {
    background-color: $medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    header {
        background-color: $medium;
        padding: 5px;
        h1 {
            text-align: center;
            font-size: $heading;
            padding: 5px;
        }
        h2 {
            text-align: center;
            font-size: $subheading;
            padding: 5px;
        }
    }
    main {
        .swipe {
            background-color: $semi-dark;
            box-shadow: 2px 2px 4px $dark;
            container-type: inline-size;
            display: grid;
            grid-template-columns: auto 1fr auto;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            div.left {
                background-color: $highlight;
                width: 350px;
                p {
                    text-align: center;
                    margin: 6px;
                    padding: 2px;
                    font-size: $paragraph;
                    border-radius: 8px;
                    border: 2px solid $dark;
                }
            }
            div.right {
                background-color: $dark;
                width: 350px;
                p {
                    text-align: center;
                    margin: 6px;
                    padding: 2px;
                    background-color: $dark;
                    color: $bright;
                    font-size: $paragraph;
                    border-radius: 8px;
                    border: 2px solid $highlight;
                }
            }
            div.center {
                width: 100vw;
                p {
                    padding: 8px;
                    font-size: $paragraph;
                    text-align: center;
                }
                scroll-snap-align: center;
            }
        }
        h2 {
            text-align: center;
            font-size: $subheading;
            padding: 15px 5px 5px 5px;
            background-color: $medium;
        }
        .hold {
            div.left {
                animation: scroll_hold 0.0001s forwards;
            }
            div.right {
                scroll-snap-align: end;
            }
        }
        .cqw {
            width: 400px;
            margin: 0 auto;
            div.center {
                width: 100cqw;
            }
        }
    }
}

@keyframes scroll_hold {
    to {
        scroll-snap-align: start;
    }
}

/* Participation | Hello, Javascript */
body.js_intro {
    background-color: $medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    header {
        text-align: center;
        padding: 20px;
        h1 {
            font-size: $heading;
        }
        h2 {
            font-size: $subheading;
        }
    }
    main {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 800px;
        article {
            background-color: $semi-dark;
            box-shadow: 2px 2px 4px $dark;
            border-radius: 10px;
            padding: 8px;
            display: flex;
            flex-direction: column;
            button {
                color: $bright;
                background-color: $dark;
                padding: 8px;
                margin: 8px auto;
                border-radius: 8px;
            }
            p {
                font-size: $paragraph;
                padding: 8px;    
            }
        }
    }
}

/* Participation | The Mobile Menu */
body.mobile_menu {
    background-color: $medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    header {
        position: fixed;
        width: 100%;
        z-index: 3;
        background-color: $dark;
        text-align: center;
        padding: 20px;
        h1 {
            font-size: $heading;
            color: $bright;
        }
    }
    main {
        margin: 0 auto;
        padding: 74px 20px 0 20px;
        max-width: 1000px;
        div {
            position: relative;
            height: 10px;
            margin: 0 10px;
            container-type: size;
            nav.nav-menu {
                transition: all 0.5s ease;
                position: absolute;
                background-color: $dark;
                padding: 8px 10px;
                max-width: 100px;
                top: 0;
                height: 120px;
                margin: -122px 0 0 0;
                border-radius: 0 0 8px 0;
                ul {
                    list-style-type: none;
                    li {
                        a {
                            text-decoration: none;
                            color: $bright;
                            font-size: $anchor;
                            &:hover {
                                text-decoration: underline;
                                color: $highlight;
                            }
                        }
                    }
                }
            }
            nav.open {
                margin: -2px 0 0 0;
            }
            button {
                transition: all 0.5s ease;
                position: absolute;
                border: 0px;
                background-color: $dark;
                color: $bright;
                padding: 4px;
                font-size: $paragraph;
                margin: -2px 0 0 0;
                top: -2px;
                border-radius: 0 0 8px 8px;
                &:hover {
                    color: $highlight;
                }
            }
            button.open {
                top: 118px;
            }
        }
        article {
            background-color: $semi-dark;
            box-shadow: 2px 2px 4px $dark;
            border-radius: 10px;
            padding: 8px;
            margin: 20px 0 0 0;
            p {
                font-size: $paragraph;
                padding: 8px;
            }
        }
    }
}