
$bright: #eee;
$medium: #ddd;
$semi-dark: #aaa;
$dark: #444;
$highlight: #ff7f50;

$anchor: 1.8rem;
$paragraph: 1.6rem;
$heading: 3rem;
$subheading: 2.5rem;

body.home {
    background-color: $medium;
    header {
        background-color: $medium;
        padding: 5px;
        h1 {
            text-align: center;
            font-size: $heading;
            padding: 5px;
        }
        h2 {
            text-align: center;
            font-size: $subheading;
            padding: 5px;
        }
    }
    nav.navbar {
        background-color: $semi-dark;
        margin: 0 20px 15px 20px;
        border-radius: 10px;
        box-shadow: 2px 2px 4px $dark;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        a {
            font-size: $anchor;
            text-decoration: none;
            text-align: center;
            color: $bright;
            background-color: $dark;
            padding: 10px 7px;
            border-radius: 5px;
            box-shadow: 2px 2px 8px $dark;
            &:hover {
                transition: 200ms;
                color: $highlight;
                box-shadow: 3px 3px 8px $dark;
            }
        }
    }
    main {
        background-color: $medium;
        h1 {
            text-align: center;
            padding: 10px;
            font-size: $subheading;
        }
        section {
            background-color: $semi-dark;
            display: flex;
            flex-flow: row wrap;
            padding: 10px;
            margin: 0 20px 15px 20px;
            border-radius: 10px;
            justify-content: space-between;
            box-shadow: 2px 2px 4px $dark;
            a {
                flex-grow: 1;
                min-width: 200px;
                text-align: center;
                text-decoration: none;
                font-size: $anchor;
                color: $bright;
                background-color: $dark;
                padding: 10px 7px;
                border-radius: 5px;
                box-shadow: 2px 2px 8px $dark;
                &:hover {
                    transition: 200ms;
                    color: $highlight;
                    box-shadow: 3px 3px 8px $dark;
                }
            }
        }
    }
}

/* Participation | Layout Logic */
body.layout {
    background-color: $medium;
    header {
        background-color: $semi-dark;
        box-shadow: 2px 2px 4px $dark;
        margin: 10px 20px;
        padding: 10px;
        display: flex;
        flex-flow: row wrap;
        align-items: end;
        justify-content: space-between;
        gap: 10px;
        border-radius: 10px;
        h1 {
            text-align: center;
            background-color: $dark;
            font-size: $heading;
            padding: 5px;
            border-radius: 5px;
            color: $bright;
            box-shadow: 2px 2px 4px $dark;
        }
        input {
            max-height: 30px;
            max-width: 500px;
            flex-grow: 1;
            padding: 3px;
            border-radius: 10px;
            border: 2px solid $dark;
            box-shadow: 2px 2px 4px $dark;
            font-size: $anchor;
        }
        nav.navbar {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            min-width: 200px;
            a {
                font-size: $anchor;
                text-align: center;
                text-decoration: none;
                color: $bright;
                background-color: $dark;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 2px 2px 4px $dark;
                &:hover {
                    transition: 200ms;
                    color: $highlight;
                    box-shadow: 3px 3px 8px $dark;
                }
            }
        }
    }
    main {
        padding: 15px 20px;
        display: grid;
        grid-template-columns: 30vw auto 30vw;
        gap: 3vw;
        article {
            background-color: $semi-dark;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 2px 2px 4px $dark;
            h1 {
                text-align: center;
                font-size: $subheading;
                padding: 5px;
            }
            p {
                font-size: $paragraph;
                padding: 5px;
            }
            figure {
                background-image: url(../participation/images/skyscraper-roof.jpg);
                background-size: cover;
                width: auto; aspect-ratio: 1;
                border-radius: 10px;
                figcaption {
                    font-size: $paragraph;
                    padding: 5px;
                }
            }
        }
    }
    footer {
        background-color: $dark;
        color: $bright;
        padding: 15px 20px;
        font-size: $paragraph;
        a {
            color: $highlight;
        }
    }
    @media screen and (max-width: 700px) {
        main {
            grid-template-columns: auto auto;
        }
    }
}




